<form class="form-inline">
  <div class="form-group">
    <%= text_field_tag 'location-query', '', placeholder: 'Where do you want to go?',
                        class: 'add-destination-input'  %>
    <button type="button" class="btn btn-primary add-destination-button lightbox-close">
      Add Destination
    </button>
  </div>
</form>
