<form class="form-inline">
  <div class="form-group">
    <%= text_field_tag 'add-destination-input', '', placeholder: 'Where do you want to go?'  %>
    <button type="button" class="btn btn-primary add-destination-button">Add Destination</button>
  </div>
</form>
