<!-- partial for adding row with 'Add Transport' link to transport_search partial -->

<div class="itinerary-transportation-step">
	<div class="row itinerary-transportation-header">
		<div class="itinerary-transportation-icon">
			<div class="itinerary-transportation-vertical"></div>
			<i class="fa fa-plus fa-2x"></i>
			<div class="itinerary-transportation-vertical itinerary-transportation-vertical-bottom"></div>
		</div>
		<div class="col-sm-11 col-sm-offset-1 itinerary-transportation-overview">
			<p class="itinerary-transportation-title"></p>
		</div>
	</div>

	<!-- Transport box with no further destination -->
	<div class="row itinerary-transportation-details">
		<div class="col-sm-3 col-sm-offset-1">
			<p class="itinerary-transportation-subtitle">+ Add transportation</p>
			
		</div>
		<div class="col-sm-5 itinerary-transportation-specifics">
			<p></p>
		</div>
		<div class="col-sm-1 itinerary-step-price">
			<p></p>
		</div>
		<div class="col-sm-2 itinerary-step-booking">

		</div>
	</div>
</div>