<!-- rendered when there is no further destination in the trip to show -->

<div class="row">
	<button type="button" class="itinerary-add-destination" data-toggle="tooltip" data-placement="top" title="Add destination">
		<i class="fa fa-plus fa-2x itinerary-add-destination-button"></i>
	</button>
</div>