<ul class="transportation-show-routes">
	<% @routes.each do |route| %>
	<li><%= route %></li>
		<% @routeSegments.each do |segment| %>
			<ul class="transportation-show-segments">
				<li><%= segment %></li>
			</ul>
		<% end %>
	<% end %>

</ul>