<div class="hidden-xs" id="map-container-90">
  <div id="map-holder"></div>
</div>
<%= render partial: 'itinerary' %>
<div id="add-transport-test">Add transport</div>
<div id="add-transport-box"></div>