<div class="hidden-xs" id="map-container-90">
  <div id="map-holder"></div>

  <div id="map-controls">
  </div>
</div>


<div id="trip-snapshot-container" class="container-fluid">
  <div class="row">
    <div id="snapshot-toggle-bar" class="col-sm-12 text-center snapshot-toggle">
      <i class="fa fa-chevron-up snapshot-toggle-icon"></i>
    </div>
    <div class="col-sm-12">
      <ul id="trip-snapshot" class="list-inline">
        <li> Location 1 </li>
        <li> Location 1 </li>
        <li> Location 1 </li>
        <li> Location 1 </li>
        <li> Location 1 </li>
      </ul>
    </div>
  </div>
</div>


