<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="delete">
        <h2 class="no-padding-left">Delete User</h2>

        <%= form_for(:user, :url => {:action => 'destroy_user', :id => @user.id}) do |f| %>

          <p>Are you sure you want to permanently delete this user?</p>

          <p class="reference-name"><strong><%= @user.name %></strong></p>

          <div class="form-buttons">
            <%= submit_tag("Delete User") %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


