<h2>Edit <%= @user.name %></h2>


<%= form_for(:user, :url => {:action => 'update_user', :id => @user.id}, html: {method: "update"}) do |f| %>


  <%= render(:partial => "shared/edit_user_form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit "Update" %>
    </div>

  <% end %>
