<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">Popular</a></li>
  <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Asia</a></li>
  <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Europe</a></li>
  <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Americas</a></li>
  <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Africa</a></li>
  <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Oceania</a></li>
</ul>
<%= render "trip_display/tripdisplay" %> <!--use to get region variable: locals: {region: @region}!-->
