<ul class="nav nav-tabs region-sort" role="tablist">
  <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">Popular</a></li>
  
  <% @regions.each do |region| %>
  <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab"><%= region %></a></li>
  <% end %>

</ul>

<%= render "trip_display/tripdisplay" %> <!--use to get region variable: locals: {region: @region}!-->

