	<div class="col-md-4 col-xs-12">
		<h4><%= @tripTitle %></h4>
		<div class="thumbnail trip-map-static"><img src=<%= @tripMapStatic %>></div>
		<p class="trip-country-tag"><a href="#"><%= @tripCountry %></a></p>
		<p><span class="badge">" <%= @upvoteScore %> "</span><a href="#"> Likes</a></p>
		<p class="trip-display-username"><a href="#">Username</a></p>
	</div>