    <a href="<%= user_omniauth_authorize_path(:facebook) %>"
        class="btn btn-block btn-social btn-facebook btn-lg"
        data-no-turbolink="true">
        <i class="fa fa-facebook"></i> Sign up with Facebook
    </a>

    <button class="btn btn-block btn-social btn-google btn-lg">
        <i class="fa fa-google"></i> Sign up with Google
    </button>
