<div class="lead delete">
  <h2>Delete Email</h2>

  <%= form_for(:lead, :url => {:action => 'destroy', :id => @lead.id}) do |f| %>

    <p>Are you sure you want to permanently delete this email?</p>

    <p class="reference-name"><%= @lead.email %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Email") %>
    </div>

  <% end %>
</div>