<h1>Leads Captured from Landing Page</h1>

<table class="table">
	<tr>
		<th>Email</th>
		<th>Delete</th>
	</tr>
	<% @leads.each do |lead| %>
	<tr>
		<td><%= lead.email %></td>
		<td><%= link_to("Delete", {:action=> 'delete', :id => lead.id}) %></td>
	</tr>
	<% end %>
</table>
