
<header class="bgimage landing-header">
  <div class="container">
    <div class="halfway-down">
      <h1>TripHappy</h1>
      <p>Adventure Like Never Before</p>

      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="inputEmail">E-mail</label>
          <input class="form-lg" id="inputEmail" type="text" placeHolder="Enter Your E-mail" />
        </div>
        <input type="submit" class="btn btn-success btn-lg" id="submitEmail" value="Tell Me When It's Ready" />
      </form>

    </div> <!-- End Halfway Down -->
  </div> <!-- End Container -->
</header>

<div class="teaser">
  <a href="#features" class="">
    <p class="center-block">Tell Me About It <span class="glyphicon glyphicon-chevron-down center-block"></span></p>
  </a>
</div>

<section id="pitch">
<div class="container">
  <div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>
  </div> <!-- End Pitch Row -->
</div> <!-- End Pitch Container -->
</section> <!-- End Pitch Section -->

<section id="features">
<div class="container">
  <div class="row">

    <section class="col-sm-6 col-lg-3">
      <h2>Feature Title</h2>
      <img src="" />
      <p>Feature Description</p>
    </section>

    <section class="col-sm-6 col-lg-3">
      <h2>Feature Title</h2>
      <img src="" />
      <p>Feature Description</p>
    </section>

    <section class="col-sm-6 col-lg-3">
      <h2>Feature Title</h2>
      <img src="" />
      <p>Feature Description</p>
    </section>

    <section class="col-sm-6 col-lg-3">
      <h2>Feature Title</h2>
      <img src="" />
      <p>Feature Description</p>
    </section>
   </div> <!-- End Features Row -->
  </div> <!-- End Features Container -->
</section> <!-- End Features Section -->

<div class="teaser">
  <a href="#countdown" class="">
    <p class="center-block">So When Is It Coming<span class="glyphicon glyphicon-chevron-down center-block"></span></p>
  </a>
</div>
