
<header class="bgimage landing-header">
  <div class="container">
    <div class="halfway-down">
      <h1>TripHappy</h1>
      <h3>A better way to explore the world. Coming soon.</h3>

      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="inputEmail">E-mail</label>
          <input class="form-lg" id="inputEmail" type="text" placeHolder="Enter Your E-mail" />
        </div>
        <input type="submit" class="btn btn-success btn-lg" id="submitEmail" value="Tell Me When It's Ready" />
      </form>

    </div> <!-- End Halfway Down -->
  </div> <!-- End Container -->
</header>

<div class="teaser" id="feature-teaser">
  <a href="#feature-teaser" class="">
    <p class="center-block">Tell Me More<span class="glyphicon glyphicon-chevron-down center-block"> </span></p>
  </a>
</div>

<section id="pitch">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="">Discover, Plan, and Book Amazing Trips Around the World</h2>
    </div>

    <div id="sub-pitch" class="col-lg-12">
      <p>Trip Happy makes multi-city trip planning easy by bringing together dozens of travel resources onto one site - no need for hundreds of bookmarks or that 300 page guide book.  Our custom tools deliver the best travel recommendations and most up-to-date information directly to you. Trip Happy has all the information you need for each stage of your trip. Trip Planning has never been easier.</p>
    </div>

    <section class="col-sm-4 feature-block">
      <h3>Find Your Paradise</h3>
      <%= image_tag("paradise-feature.jpg", :alt => "Get Tips from Other Travelers", :class => "img-rounded") %>
      <p class="text-justify">The best recommendations always come from other travelers. Browse community created trips to countries all across the globe and discover your next travel destination.</p>
    </section>

    <section class="col-sm-4 feature-block">
      <h3>Visualize Your Trip</h3>
      <%= image_tag("map-feature.jpg", :alt => "Discover Your Paradise", :class => "img-rounded") %>
      <p class="text-justify">Our interactive travel planner makes it easy to link multiple cities into a personalized travel map. Share your map with others or embed it on your blog.</p>
    </section>

    <section class="col-sm-4 feature-block">
      <h3>Go Anywhere. From Anywhere.</h3>
      <%= image_tag("schedule-feature.jpeg", :alt => "Step-by-step directions to anywhere in the world", :class => "img-rounded") %>
      <p class="text-justify">Get step-by-step directions to anywhere in the world. Find detailed plane, train, bus, and ferry schedules on over 800,000 routes worldwide.</p>
    </section>

  </div> <!-- End Pitch Row -->
</div> <!-- End Pitch Container -->
</section> <!-- End Pitch Section -->

<div class="teaser" id="countdown-teaser">
  <a href="#countdown-teaser">
    <p class="center-block">So When Can I Start?<span class="glyphicon glyphicon-chevron-down center-block"></span></p>
  </a>
</div>

<section id="countdown">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Assuming Our Chinese Wi-Fi Holds Up, We Will Launch In</h2>
      </div>
      <div class="col-lg-12 text-center">
        <div class="digits"></div>
      </div>
    </div> <!-- End Countdown Row -->
  </div> <!-- End Countdown Container -->
</section> <!-- End Countdown Section -->

<div class="teaser" id="about-teaser">
  <a href="#about-teaser">
    <p class="center-block">Wait, Chinese Wi-Fi?<span class="glyphicon glyphicon-chevron-down center-block"></span></p>
  </a>
</div>

<section id="about">

</section>

<secton id="footer">

</section>
