
<header class="bgimage landing-header">
  <div class="container">
    <div class="halfway-down">
      <h1>TripHappy</h1>
      <p>Adventure Like Never Before</p>

      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="inputEmail">E-mail</label>
          <input class="form-lg" id="inputEmail" type="text" placeHolder="Enter Your E-mail" />
        </div>
        <input type="submit" class="btn btn-success btn-lg" id="submitEmail" value="Tell Me When It's Ready" />
      </form>

    </div> <!-- End Halfway Down -->
  </div> <!-- End Container -->
</header>

<div class="teaser" id="feature-teaser">
  <a href="#feature-teaser" class="">
    <p class="center-block">Tell Me About It <span class="glyphicon glyphicon-chevron-down center-block"> </span></p>
  </a>
</div>

<section id="pitch">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="">Discover, Plan, and Book Amazing Trips Around the World</h2>
    </div>

    <div class="col-lg-12">
      <p>Trip Happy makes multi-city trip planning easy by bringing together dozens of travel resources onto one site - no need for hundreds of bookmarks or that 300 page guide book.  Our custom tools deliver the best travel recommendations and most up-to-date information directly to you. Trip Happy has all the information you need at each stage of your trip. Trip Planning has never been easier.</p>
    </div>


    <section class="col-lg-4">
      <h3>Visualize Your Trip</h3>
      <%= image_tag("feature1.jpg", :alt => "Discover Your Paradise") %>
      <p>Our interactive travel planner makes it easy to link multiple cities into a personalized travel map. Share your map with others or embed it on your blog.</p>
    </section>

    <section class="col-lg-4">
      <h3>Go Anywhere. From Anywhere.</h3>
      <%= image_tag("feature2.jpg", :alt => "Step-by-step directions to anywhere in the world") %>
      <p>Find the perfect hostel, hotel, or AirBnB wherever you go. Then get detailed plane, train, bus, or ferry directions to each destination on your itinerary. We've got every journey covered with over 800,000 routes worldwide.</p>
    </section>

    <section class="col-lg-4">
      <h3>Discover Paradise</h3>
      <%= image_tag("feature3.jpg", :alt => "Get Tips from Other Travelers") %>
      <p>The best recommendations always come from other travelers. Browse community created trips to countries all across the globe and discover your next travel destination.</p>
    </section>

  </div> <!-- End Pitch Row -->
</div> <!-- End Pitch Container -->
</section> <!-- End Pitch Section -->

<div class="teaser">
  <a href="#countdown" class="">
    <p class="center-block">So When Is It Coming<span class="glyphicon glyphicon-chevron-down center-block"></span></p>
  </a>
</div>

<section id="countdown">

</section>
