<h1>Contact Us</h1>	
<p>We love hearing from our users! If you have any requests or recommendations, drop us an email at hello@triphappy.com.</p>
<h1>Media Inquiries</h1>
<p>If you would like to learn more about the TripHappy story and founders, please send an email to business@triphappy.com including the name of your organization and contact information.</p>

