<h1>Login to TripHappy</h1>

<div class="container-fluid">
  <div class="row">
    <div id="auth-body-left" class="col-sm-6">
      <%= render partial: 'shared/login' %>
    </div>
    <div id="auth-body-right" class="col-sm-4 col-sm-offset-2 border-left">
      <div id="sign-up-div">
        <h5>Don't have an account?</h5>
        <%= link_to 'Sign up for free today', signup_path %>
      </div>
      <div id="reset-div">
        <h5>Forgot your password?</h5>
        <%= link_to 'Reset it here', '#' %>
      </div>
    </div>
  </div>
</div>

