/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require colorbox-rails
 *= require_tree .
 *= require_self
 */

html, body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h2{
  color: #333333;
}

h4{
  padding-left: 15px;
  padding-right: 15px;
}

.no-margin{
  margin:0px;
}
  .no-top-margin{
    margin-top:0px;
  }
  .no-bottom-margin{
    margin-bottom:0px;
  }

.margin-bottom-sm{
  margin-bottom: 8px;
}

.full-width{
  width: 100%;
}

.error-message{
  color: #8C0000;
  text-align: center;
}

/* Setting Up Header, Footer, Content for Layout */
#body-container{
  min-height: 100%;
  position: relative;
}


/* Bootstrap Override for Header */
.navbar{
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #444444;
  border:none;
  letter-spacing: 1px;
}

  .navbar-transparent{
    background-color: rgba(0,0,0, 0) !important; /* 0% opacity with black color */
  }
  .content-in-nav{
    margin-top:-70px;
  }

  .navbar-inverse .navbar-brand {
    color: white;
    -webkit-transition-duration: 0.2s !important;
    -moz-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
  }
    .navbar-inverse .navbar-brand:hover {
      color: #ea7663;
    }


  .nav-link-box{
    border: 2px solid white;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .navbar-inverse .navbar-nav>li>a {
    color:white;
    -webkit-transition-duration: 0.2s !important;
    -moz-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
  }



  .navbar-inverse .navbar-nav>li>a:hover {
    color: #ea7663;
    border-color: #ea7663;
  }

  .navbar-inverse .navbar-toggle {
    border:2px solid white;
  }

  .navbar .divider-vertical {
    height: 20px;
    margin-top:15px;
    margin-left: 9px;
    margin-right: 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
  }

  .navbar-inverse .divider-vertical {
    border-color: white;
  }


  .navbar .navbar-right > li > .dropdown-menu:before,
  .navbar .nav > li > .dropdown-menu.navbar-right:before {
      right: 12px; left: auto;
  }

  .navbar .navbar-right > li > .dropdown-menu:after,
  .navbar .nav > li > .dropdown-menu.navbar-right:after {
      right: 13px; left: auto;
  }

  /* only do dropdown on hover if non-mobile screen */
  @media (min-width: 767px){

    .dropdown-menu:before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    .dropdown-menu:after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: '';
    }

    .dropdown-toggle:hover{
      color:white !important;
    }
  } /* End Media Query */

  .form-dropdown{
    padding:10px;
    min-width:250px;
  }
    .form-dropdown li{
      margin: 5px 0px;
    }

    .form-dropdown input{
      width:100%;
    }


  /* Background color once dropdown is clicked */
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
      background-color: #353535;
  }


.container{

}


#main-content{
  padding-bottom: 150px; /* Min-Height of Footer */
}

#footer{
  position:absolute;
  bottom:0;
  width:100%;
  min-height:150px;   /* Height of the footer */
  background-color: #444444 ;
  color: #eeeeee ;
  letter-spacing: 1px;
}

  #footer-container{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #footer h5{
    margin-bottom:10px;
  }
    #footer ul{
      list-style-type: none;
      padding-left:0px;
    }
    #footer a{
      text-decoration: none;
      color:white;
      -webkit-transition-duration: 0.2s !important;
      -moz-transition-duration: 0.2s !important;
      transition-duration: 0.2s !important;
    }
    #footer a:hover{
      color: #ea7663;
    }
    #footer-copy{
      margin-top:15px;
    }



.bgimage{
  background-position: center center;
  background-size: cover;
  height: 92vh;
}

.teaser{
  height:8vh;
  /*min-height: 50px; */
  padding: 10px 0 10px 0;
  font-weight: 500;
  font-size: larger;
  text-align: center;
}

.teaser a{
  color:#ea7663;
  text-decoration: none !important;
  display:inline-block;
}
  .teaser a:hover{
    text-decoration: none !important;
    color: #EF583F !important;

    -webkit-transition-duration: 0.2s !important;
    -moz-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
  }


.form-lg{
  padding: 7px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-right: 15px;
  border-color: lightgray;
  color:black;
}


.valign-middle-parent {
  display:table;
  width:100%;
}
  .valign-middle-child{
    display:table-cell;
    vertical-align: middle;
  }





/* Bootstrap Override */
.btn-success{
  background-color: #ea7663 !important;
  border-color:#E66B57 !important;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2) !important;

  -webkit-transition-duration: 0.2s !important;
  -moz-transition-duration: 0.2s !important;
  transition-duration: 0.2s !important;
}
  .btn-success:hover, .btn-success:focus {
    background-color: #FD7B6C !important;
    border-color:#E66B57 !important;
  }
  .btn-success:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6) !important;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6) !important;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6) !important;
    background-color: #ed4a4b !important;
    border-color:#E66B57 !important;
  }


.btn-lg{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 8px 16px;
}


.text-muted{
  color:#656565;
  font-size: 1.1em;
}

.vertical-stack-form{
    padding: 8px;
    line-height: 1.3;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



/************** LightBox ***************/
#colorbox{
  outline: none;
}

.lightbox-content{
  padding: 20px;
}

.lightbox-content input {
  width: 100%;
}

.lightbox-content p{
  margin:0px;
}

hr{
  border-top: 1px solid #dce0e0;
  width: 100%;
}

.signup-or-separator{
  background: none;
  height: 40px;
  position: relative;
  text-align: center;
  color: #808080;
}

.signup-or-separator hr{
  margin-top: -25px;
}
.signup-or-separator-text{
  background-color: #fff;
  display: inline-block;
  padding: 8px;
  text-transform: uppercase;
}


/* Colorbox Overrides */
#cboxClose {
  top: 5px;
  right: 5px;
  display: none;
}


#cboxTopLeft, #cboxTopRight, #cboxBottomLeft, #cboxBottomRight, #cboxMiddleLeft,
#cboxMiddleRight, #cboxTopCenter, #cboxBottomCenter{
  display: none;
}

#cboxContent{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#cboxLoadedContent{
  margin-bottom:0px;
}

#cboxOverlay{
  background: black;

}

/************** MEDIA QUERIES ***************/
/* XS (Smallest) Screen Size */
@media (max-width: 767px){

  #header .container{
    background-color: #444444;
  }

  .nav-link-box{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }


  .img-responsive{
    max-width: 70%;
    min-width: 300px;
  }

  #main-content{
    padding-bottom:270px;
    margin-top: 0px;
  }

  #footer{
    text-align:center;
  }
}

