/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h2{
  color: #333333;
}

h4{
  padding-left: 15px;
  padding-right: 15px;
}

/* Setting Up Header, Footer, Content for Layout */
#body-container{
  min-height: 100%;
  position: relative;
}


/* Bootstrap Override for Header */
.navbar-inverse {
  background-color: #444444;
  border:none;
  letter-spacing: 1px;
}

  .navbar-inverse .navbar-brand {
    color: white;
    -webkit-transition-duration: 0.2s !important;
    -moz-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
  }
    .navbar-inverse .navbar-brand:hover {
      color: #ea7663;
    }

  .navbar-inverse .navbar-nav>li>a {
      color:white;
      -webkit-transition-duration: 0.2s !important;
      -moz-transition-duration: 0.2s !important;
      transition-duration: 0.2s !important;
  }
  .navbar-inverse .navbar-nav>li>a:hover {
      color: #ea7663;
  }



#main-content{
  padding:10px;
  padding-bottom: 150px; /* Min-Height of Footer */
}

#footer{
  position:absolute;
  bottom:0;
  width:100%;
  min-height:150px;   /* Height of the footer */
  background-color: #444444 ;
  color: #eeeeee ;
  letter-spacing: 1px;
}

  #footer-container{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #footer h5{
    margin-bottom:10px;
  }
    #footer ul{
      list-style-type: none;
      padding-left:0px;
    }
    #footer a{
      text-decoration: none;
      color:white;
      -webkit-transition-duration: 0.2s !important;
      -moz-transition-duration: 0.2s !important;
      transition-duration: 0.2s !important;
    }
    #footer a:hover{
      color: #ea7663;
    }
    #footer-copy{
      margin-top:15px;
    }






#badge-container{
  position:fixed;
  top: 20px;
  left: 8px;
  z-index: 100;
}

#badge-link{
  text-decoration: none;
}

#th-badge{
  border: 2px solid #040404;
  color: #040404;
  border-radius:50px;
   -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  font-size: 20px;
  font-weight:bold;
  padding:5px;

  -webkit-transition-duration: 0.2s !important;
  -moz-transition-duration: 0.2s !important;
  transition-duration: 0.2s !important;
}
  #th-badge:hover{
    border: 2px solid #ea7663;
    color: #ea7663;
  }


.bgimage{
  background-position: center center;
  background-size: cover;
  height: 92vh;
}

.teaser{
  height:8vh;
  /*min-height: 50px; */
  padding: 10px 0 10px 0;
  font-weight: 500;
  font-size: larger;
  text-align: center;
}

.teaser a{
  color:#ea7663;
  text-decoration: none !important;
  display:inline-block;
}
  .teaser a:hover{
    text-decoration: none !important;
    color: #EF583F !important;

    -webkit-transition-duration: 0.2s !important;
    -moz-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
  }


.form-lg{
  padding: 8px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-right: 15px;
  border-color: lightgray;
  color:black;
}


.valign-middle-parent {
  display:table;
  width:100%;
}
  .valign-middle-child{
    display:table-cell;
    vertical-align: middle;
  }





/* Bootstrap Override */
.btn-success{
  background-color: #ea7663 !important;
  border-color:#E66B57 !important;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2) !important;

  -webkit-transition-duration: 0.2s !important;
  -moz-transition-duration: 0.2s !important;
  transition-duration: 0.2s !important;
}
  .btn-success:hover, .btn-success:focus {
    background-color: #FD7B6C !important;
    border-color:#E66B57 !important;
  }
  .btn-success:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6) !important;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6) !important;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6) !important;
    background-color: #ed4a4b !important;
    border-color:#E66B57 !important;
  }


.btn-lg{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.text-muted{
  color:#656565;
  font-size: 1.1em;
}

/* XS (Smallest) Screen Size */
@media (max-width: 767px){
  .img-responsive{
    max-width: 70%;
    min-width: 300px;
  }

  #main-content{
    padding-bottom:270px;
  }

  #footer{
    text-align:center;
  }
}

