// Place all the styles related to the beta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/***********************
Landing page
***********************/

#index-first-section {
	background-position: center center;
  background-size: cover;
	/* background-image: url('girl_horizon_sm.jpg'); /* 1st favorite */
  /* background-image: url('bg-hitchhike-sm.jpg');    /*2nd favorite */
  background-image: url('beach_sunset_sm.jpg');    /*3rd favorite */
  color:white;
  height: 90vh;
  margin-top: -20px;
}

.callout {
	padding-top: 80px;
	text-align: center;
}

	.callout h1 {
		text-align: center;
		font-size: 3em;
	}

.destination-form {
	width: 300px;
}

#index-second-section {
	margin-bottom: 40px;
	margin-top: 20px;
}

#highlightedtrips-carousel {

}
