// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********* FOR TRIPS / NEW ***********/

#map-container-90{
	height: 90vh;
}




/********* FOR TRIPS / INDEX ***********/

#featured-trip-container {
	position: absolute;
	top: 8%;
	left: 3%;

	height: 55vh;
	z-index: 101;

	background: transparent linear-gradient(to right,#272727 0%,rgba(39,39,39,.9) 90%);
}


	#featured-trip-content h1, #featured-trip-content h2, #featured-trip-content h3,#featured-trip-content h4 {
		color: white;
		padding-left: 20px;
		padding-right: 20px;
	}

	#featured-trip-content p {
		color: #ea7663;
		letter-spacing: .05em;
	}

	#featured-profile-picture {
		height: 150px;
		width: 150px;
		margin-left: 20px;
		border: 2px solid #E8E8E8;
	}

