// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********* FOR TRIPS / NEW ***********/

#map-container-90{
	height: 90vh;
}


	/*** Itinerary Viewer ***/

	.itinerary-holder {
		margin-top: 30px;
	}

	.itinerary-step-number {
		font-size: 3em;
		margin-top: 8px;
	}

	.itinerary-calendar-box {
		position: absolute;
    left: 10%;
  }

	.calendar-text {
		padding-top: .3em;
	}

	.calendar-month {
		margin-left: 0.5em;
		font-weight: bold;
	}

	.itinerary-destination-step {
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		margin-top: 15px;
		margin-bottom: 15px;

	}

		.itinerary-step-overview {
			margin-bottom: 10px;
		}

			.itinerary-step-city {
				font-size: 3em;
    		margin-bottom: -5px;
			}

			.itinerary-step-country {
				font-size: 1.5em;
		    font-style: italic;
		    color: gray;
			}

		.itinerary-step-accomodation {
			margin-bottom: 20px;
		}

	.itinerary-transportation-vertical {
		width: 5px;
		height: 30px;
		border-left: 5px dotted lightgray;
		margin-left: .6em;
		margin-top: 5px;
		margin-bottom: 5px;
	}

		.itinerary-transportation-vertical-bottom {
			position: absolute;
		}



/********* FOR TRIPS / INDEX ***********/

#featured-trip-container {
	position: absolute;
	top: 8%;
	left: 3%;

	height: 55vh;
	z-index: 101;

	background: transparent linear-gradient(to right,#272727 0%,rgba(39,39,39,.9) 90%);
}


	#featured-trip-content h1, #featured-trip-content h2, #featured-trip-content h3,#featured-trip-content h4 {
		color: white;
		padding-left: 20px;
		padding-right: 20px;
	}

	#featured-trip-content p {
		color: #ea7663;
		letter-spacing: .05em;
	}

	#featured-profile-picture {
		height: 150px;
		width: 150px;
		margin-left: 20px;
		border: 2px solid #E8E8E8;
	}

