// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************
User profile page
***********************/

.user-profile-top {
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
  margin-top: -20px;
}

#map-container {
  height: 70vh;
}

#map-holder {
  height: 100%;
  width: 100%;

}

.userprofile-holder {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 185px;
}

  .profile-picture {
    height: 200px;
    width: 200px;
    z-index: 101;
  }

  .userprofile-content {
    padding-left: 140px;
  }

  .user-stats-holder {
    background-color: #ECECEC;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
    border-top: 1px solid lightgray;
    margin-top: 20px;
  }

    .user-stats {
      padding-left: 160px;
      margin-bottom: 0px;


    }

      .user-stats li {
        border-right: 1px solid lightgray;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 10px;
      }

      .user-stats li:last-child {
        border-right: none;
        padding-right: 15px;
        padding-left: 15px;
      }


.userprofile-triplist-sort {

}

.userprofile-triplist {
  border: 1px solid lightgray;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 30px;
}
