// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-header{
  background-image: url('bg_hitchhike.jpg');
  color:white;
  position: relative;
}
  .landing-header h1{
    font-size: 4em;
  }

  .landing-header #inputEmail{
      margin-right: 15px;
      color: black;
  }

.halfway-down{
  position: absolute;
  top: 37%;
  transform: translate(0, -63%);
}

#submitEmail{
  background-color: #ea7663;
  border-color:#E66B57;
}

#pitch{
  min-height: 84vh;
  text-align:center;
}
  #pitch h2{
    text-align:center;
    color: #000000;
    margin-top:0px;
  }

  #pitch p{
    color:#656565;
  }

  #sub-pitch{
    font-size: 1.1em;
    text-align: left;
  }
  .feature-block p{
    font-size: 1.0em;
    padding: 2px 5px 0px 5px;
  }

  #pitch img{
    width:100%;
    border: 1px solid lightgray;
  }

#countdown
{
  min-height: 84vh;
}
/*Countdown CSS */
  .digits{
    display:inline-block;
  }
  .cntSeparator { display:none; }

  .cntDigit {}
    .cntDigit#cnt_2 { margin-left: 12px; }
    .cntDigit#cnt_4 { margin-left: 12px; }
    .cntDigit#cnt_6 { margin-left: 12px; }

