// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-header{
  background-image: url('bg_hitchhike.jpg');
  color:white;
  position: relative;
}
  .landing-header h1{
    font-size: 4em;
  }

.halfway-down{
  position: absolute;
  top: 37%;
  transform: translate(0, -63%);
}


#pitch{
  min-height: 84vh;
  text-align:center;
}
  #pitch h2{
    text-align:center;
    margin-top:0px;
  }

  #pitch p{
    color:#656565;
  }

  #sub-pitch{
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 40px;
  }
  .feature-block p{
    font-size: 1.0em;
    padding: 2px 5px 0px 5px;
  }

  #pitch img{
    border: 1px solid lightgray;
  }

#countdown
{
  min-height: 84vh;
  display:table;
  width:100%;
  text-align:center;
}
  #countdown-content{
    display:table-cell;
    vertical-align: middle;
  }

  #countdown h2{
    margin-bottom: 30px;
  }
  #countdown h3{
    margin-top:40px;
  }
  #digits-label{
    margin-bottom: 50px;
  }
    #digits-label span{
      width:140px;
      display:inline-block;
      text-transform: uppercase;
      font-weight: bold;
    }



/*Countdown CSS */
.digits{
  display:inline-block;
}
.cntSeparator { display:none; }

.cntDigit {}
  .cntDigit#cnt_2 { margin-left: 12px; }
  .cntDigit#cnt_4 { margin-left: 12px; }
  .cntDigit#cnt_6 { margin-left: 12px; }

#about{
  min-height: 84vh;
}

#footer{
  height:8vh;
}

