// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-header{
  background-image: url('bg-hitchhike-sm.jpg');
  color:white;
  position: relative;
}
  .landing-header h1{
    font-size: 4em;
  }

  .landing-header h3{
    text-shadow: 1px 1px 3px black;
    margin-top:8px;
    margin-bottom: 15px;
  }

  #header-logo{
    max-width: 90%;
  }

#top-of-the-world{
  z-index: 101;
}

.halfway-down{
  position: absolute;
  top: 37%;
  transform: translate(0, -63%);
}

#badge-container{
  position:fixed;
  top: 20px;
  left: 8px;
  z-index: 100;
}

#badge-link{
  text-decoration: none;
}

#th-badge{
  border: 2px solid #040404;
  color: #040404;
  border-radius:50px;
   -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  font-size: 20px;
  font-weight:bold;
  padding:5px;

  -webkit-transition-duration: 0.2s !important;
  -moz-transition-duration: 0.2s !important;
  transition-duration: 0.2s !important;
}
  #th-badge:hover{
    border: 2px solid #ea7663;
    color: #ea7663;
  }


#pitch{
  min-height: 84vh;
  text-align:center;
}

  #sub-pitch{
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 40px;
  }
  .feature-block p{
    font-size: 1.0em;
    padding: 2px 5px 0px 5px;
  }

  #pitch img{
    border: 1px solid lightgray;
  }

#countdown
{
  min-height: 84vh;
  height: 100px; /* overly small height to fix issue with firefox min-height + table display */
  width:100%;
  text-align:center;
}
  #countdown h2{
    margin-bottom: 30px;
  }
  #countdown h3{
    margin-top:40px;
  }
  #digits-label{
    margin-bottom: 50px;
  }
    #digits-label span{
      width:140px;
      display:inline-block;
      text-transform: uppercase;
      font-weight: bold;
    }



/*Countdown CSS */
.digits{
  display:inline-block;
}
.cntSeparator { display:none; }

.cntDigit {}
  .cntDigit#cnt_2 { margin-left: 12px; }
  .cntDigit#cnt_4 { margin-left: 12px; }
  .cntDigit#cnt_6 { margin-left: 12px; }


/* About Us Section */
#about{
  min-height: 84vh;
}

.google-maps iframe {
    margin: 25px 0px 25px 0px;
    max-width: 80% !important;

}

/* Footer Section */
#prelaunch-footer{
  min-height:8vh;
  background-color: #444444 ;
  color: #eeeeee ;
  height: 50px;
  margin-top: 0px;
  letter-spacing: 1px;
}

  #prelaunch-footer a{
    color: white;

    -webkit-transition-duration: 0.2s !important;
    -moz-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
  }

  #prelaunch-footer a:hover{
      color: #ea7663;
    }


/* XS (Smallest) Screen Size */
@media (max-width: 767px){
  #countdown{
    min-height: 1vh;
  }
}




